body{
    background: linear-gradient(135deg, rgba(54,52,73,0.9475140397956058) 38%, rgba(130,170,163,1) 64%);
    text-align: center;
}

h1{
    font-family: Montserrat;
    font-weight: 400;
}
table{
    text-align: center;
    margin: 0 auto;
    width: 80%;
    box-shadow: 2px -1px 46px -8px rgba(0,0,0,0.92);
    border-radius: 10px;
}

th{
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 4px;
    border: 2px solid black;
}

td{
    padding: 20px;
    border: 2px solid black ;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 4px;

}

tr:hover td{
    color: white;
    background-color: #333333c5;
}